/* Datewheel overlay */
.dw { background-color: #FFF; position: absolute; top: 5%; left: 0; z-index: 100001; color: #000; font-family: arial, verdana, sans-serif; font-size: 12px; text-shadow: none; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -ms-touch-action: none; -webkit-tap-highlight-color: transparent; }

.dwi { position: static; margin: 5px; display: inline-block; }

.dwwr { min-width: 170px; zoom: 1; padding: 0 10px; text-align: center; }

/* Datewheel overlay background */
.dw-persp, .dwo { width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 100000; }

.dwo { background: #000; opacity: .16; filter: Alpha(Opacity=16); }

/* Bubble positionings */
.dw-bubble .dw { margin: 20px 0; }

.dw-bubble .dw-arrw { position: absolute; left: 0; width: 100%; }

.dw-bubble-top .dw-arrw { bottom: -36px; }

.dw-bubble-bottom .dw-arrw { top: -36px; }

.dw-bubble .dw-arrw-i { margin: 0 30px; position: relative; height: 36px; }

.dw-bubble .dw-arr { display: block; }

.dw-arr { display: none; position: absolute; left: 0; width: 0; height: 0; border-width: 18px 18px; border-style: solid; margin-left: -18px; }

.dw-bubble-bottom .dw-arr { top: 0; border-color: transparent transparent #fff transparent; }

.dw-bubble-top .dw-arr { bottom: 0; border-color: #fff transparent transparent transparent; }

/* Datewheel wheel container wrapper */
.dwc { float: none; margin: 0 2px 5px 2px; padding-top: 30px; display: inline-block; }

.dwcc { clear: both; }

/* Datewheel label */
.dwl { text-align: center; line-height: 30px; height: 30px; white-space: nowrap; position: absolute; top: -30px; width: 100%; display: none; }

/* Datewheel value */
.dwv { padding: 10px 0; }

/* Datewheel wheel container */
.dwrc { -webkit-border-radius: 3px; border-radius: 3px; }

.dwwc { margin: 0; border: 1px solid #eee; position: relative; zoom: 1; }

/* Datewheel wheels */
.dwwl { position: relative; z-index: 5; }

.dww { overflow: hidden; position: relative; }

.dwsc .dwwl { background: #888; background: linear-gradient(#000000 0%, #333333 35%, #888888 50%, #333333 65%, #000000 100%); background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.35, #333), color-stop(0.5, #888), color-stop(0.65, #333), to(#000)); background: -moz-linear-gradient(#000 0%, #333 35%, #888 50%, #333 65%, #000 100%); background: -o-linear-gradient(#000 0%, #333 35%, #888 50%, #333 65%, #000 100%); }

.dwsc .dww { color: #fff; background: #444; background: linear-gradient(#000000 0%, #444444 45%, #444444 55%, #000000 100%); background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.45, #444), color-stop(0.55, #444), to(#000)); background: -moz-linear-gradient(#000 0%, #444 45%, #444 55%, #000 100%); background: -o-linear-gradient(#000 0%, #444 45%, #444 55%, #000 100%); }

.dw-bf { -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }

.dw-ul { position: relative; z-index: 2; }

.dw-li { padding: 0 5px; display: block; text-align: center; line-height: 40px; font-size: 26px; white-space: nowrap; text-shadow: 0 1px 1px #000; vertical-align: bottom; opacity: .3; filter: Alpha(Opacity=30); }

/* Higlighted */
.dw-li.dw-hl { background: #fff; background: rgba(255, 255, 255, 0.3); }

/* Valid entry */
.dw-li.dw-v { opacity: 1; filter: Alpha(Opacity=100); }

/* Hidden entry */
.dw-li.dw-h { visibility: hidden; }

.dw-i { position: relative; height: 100%; font-size: 1.11111rem; }

.dw-sel .dw-i { color: #59a1e4; font-size: 1.33333rem; }

/* Wheel +/- buttons */
.dwwb { position: absolute; z-index: 4; left: 0; cursor: pointer; width: 100%; height: 40px; text-align: center; opacity: 1; transition: opacity .2s linear; -webkit-transition: opacity .2s linear; }

.dwa .dwwb { opacity: 0; }

.dwwbp { top: 0; -webkit-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; font-size: 40px; }

.dwwbm { bottom: 0; -webkit-border-radius: 0 0 3px 3px; border-radius: 0 0 3px 3px; font-size: 32px; font-weight: bold; }

.dwpm .dwwc { background: transparent; }

.dwpm .dww { margin: 0; }

.dwpm .dw-li { text-shadow: none; }

.dwpm .dwwol { display: none; }

/* Datewheel wheel overlay */
.dwwo { position: absolute; z-index: 3; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(#000000 0%, rgba(44, 44, 44, 0) 52%, rgba(44, 44, 44, 0) 48%, #000000 100%); background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.52, rgba(44, 44, 44, 0)), color-stop(0.48, rgba(44, 44, 44, 0)), to(#000)); background: -moz-linear-gradient(#000 0%, rgba(44, 44, 44, 0) 52%, rgba(44, 44, 44, 0) 48%, #000 100%); background: -o-linear-gradient(#000 0%, rgba(44, 44, 44, 0) 52%, rgba(44, 44, 44, 0) 48%, #000 100%); }

/* Background line */
.dwwol { position: absolute; z-index: 1; top: 50%; left: 0; width: 100%; height: 0; margin-top: -1px; border-top: 1px solid #333; border-bottom: 1px solid #555; }

/* Datewheel button */
.dwbg .dwb { cursor: pointer; overflow: hidden; display: block; height: 40px; line-height: 40px; padding: 0 15px; margin: 0 2px; font-size: 14px; font-weight: bold; text-decoration: none; text-shadow: 0 -1px 1px #000; border-radius: 5px; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); background: #000; background: linear-gradient(#6e6e6e 50%, #000000 50%); background: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #000), color-stop(0.5, #6e6e6e)); background: -moz-linear-gradient(#6e6e6e 50%, #000 50%); background: -o-linear-gradient(#6e6e6e 50%, #000 50%); white-space: nowrap; text-overflow: ellipsis; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-border-radius: 5px; }

/* Datewheel button container */
.dwbc { padding: 1.11111rem 0 1.77778rem; text-align: center; clear: both; }

.dwbc:after { content: ''; display: block; clear: both; }

/* Datewheel button wrapper */
.dwbw { display: inline-block; float: left; width: 50%; position: relative; z-index: 5; }

.dwbc-p .dwbw { width: 30%; border-radius: 8px; }

.dwbc-p .dwb-n { display: none; }

.dwbc-p .dwb-s { float: right; background-color: #59a1e4; color: #fff; margin: 0 15% 0 5%; }

.dwbc-p .dwb-c { background-color: #dedede; color: #666; margin: 0 5% 0 15%; }

/* Hidden label */
.dwhl { padding-top: 10px; }

.dwhl .dwl { display: none; }

/* Multiple selection */
.dwms .dwwms .dw-li { padding: 0 40px; position: relative; }

.dwms .dw-msel:after { width: 40px; text-align: center; position: absolute; top: 0; left: 0; content: '✔'; }

/* Backgrounds */
.dwbg { background: #fff; border-radius: 8px; -webkit-border-radius: 8px; }

.dwbg .dwpm .dwwl { border: 1px solid #aaa; }

.dwbg .dwpm .dww { color: #000; background: #fff; -webkit-border-radius: 3px; }

.dwbg .dwwb { background: #ccc; color: #888; text-shadow: 0 -1px 1px #333; box-shadow: 0 0 5px #333; -webkit-box-shadow: 0 0 5px #333; }

.dwbg .dwwbp { background: linear-gradient(#f7f7f7, #bdbdbd); background: -webkit-gradient(linear, left bottom, left top, from(#bdbdbd), to(#f7f7f7)); background: -moz-linear-gradient(#f7f7f7, #bdbdbd); background: -o-linear-gradient(#f7f7f7, #bdbdbd); }

.dwbg .dwwbm { background: linear-gradient(#bdbdbd, #f7f7f7); background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), to(#bdbdbd)); background: -moz-linear-gradient(#bdbdbd, #f7f7f7); background: -o-linear-gradient(#bdbdbd, #f7f7f7); }

.dwt { font-size: 1.33333rem; color: #333; padding: 1.48148rem 0 0.55556rem; }

/* Android ICS skin */
.android-ics .dw { padding: 0; color: #999; }

.android-ics .dw .dwwc, .android-ics .dw .dwwl, .android-ics .dw .dww, .android-ics .dw .dwb, .android-ics .dw .dwpm .dww { background: none; }

.android-ics .dwwr { width: 21.48148rem; padding: 0; background-color: #FFF; -moz-border-radius: 0.66667rem; -webkit-border-radius: 0.66667rem; border-radius: 0.66667rem; }

.android-ics .dwc { width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 1.11111rem 1.77778rem 0 1.77778rem; }
.android-ics .dwc table { width: 100%; }

.android-ics .dwhl { padding: 1px 10px; }

.android-ics .dwv { height: 1.33333rem; line-height: 1.33333rem; padding: 0; font-size: 1.11111rem; }

.android-ics .dww, .android-ics .dw .dwpm .dwwl, .android-ics .dw .dwpm .dww { border: 0; }

.android-ics .dww .dw-li { color: #fff; font-size: 18px; text-shadow: none; }

.android-ics .dww .dw-li.dw-hl { background: #31b6e7; background: rgba(49, 182, 231, 0.5); }

.android-ics .dwwl1 .dww .dwwo, .android-ics .dwwl2 .dww .dwwo { border-left: 1px solid #eee; }

.android-ics .dwwo { background: linear-gradient(#282828 0%, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%); background: -webkit-gradient(linear, left bottom, left top, from(#282828), color-stop(0.52, rgba(40, 40, 40, 0)), color-stop(0.48, rgba(40, 40, 40, 0)), to(#282828)); background: -moz-linear-gradient(#282828 0%, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%); background: -o-linear-gradient(#282828 0%, rgba(40, 40, 40, 0) 52%, rgba(40, 40, 40, 0) 48%, #282828 100%); }

.android-ics .dw .dwwb { background: #292829; box-shadow: none; -webkit-box-shadow: none; }

.android-ics .dwwb span { display: none; }

.android-ics .dwwb:after { position: absolute; top: 50%; left: 50%; margin-top: -8px; margin-left: -8px; color: #7e7e7e; width: 0; height: 0; border-width: 8px; border-style: solid; content: ''; }

.android-ics .dwwbm { top: 0; bottom: auto; }

.android-ics .dwwbp { bottom: 0; top: auto; }

.android-ics .dwwbm:after { border-color: transparent transparent #7e7e7e transparent; }

.android-ics .dwwbp:after { border-color: #7e7e7e transparent transparent transparent; }

.android-ics .dw .dwwol { width: 100%; left: 0; height: 36px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; background-color: #FFF; margin-top: -20px; display: block; color: #59a1e4; }

.android-ics .dwwl0 .dwwol { border-left: #59a1e4 solid 2px; }

.android-ics .dw .dwb { height: 2.59259rem; line-height: 2.59259rem; padding: 0; margin: 0; font-weight: normal; text-shadow: none; box-shadow: none; border-radius: 0; -webkit-border-radius: 0; -webkit-box-shadow: none; font-size: 1.11111rem; }

/* Docked */
.android-ics.dw-bottom .dw, .android-ics.dw-top .dw { border-radius: 0; -webkit-border-radius: 0; }

/* Multiple select */
.android-ics .dwwms .dwwol { display: none; }

.android-ics .dwwms .dw-li { padding-left: 5px; padding-right: 36px; }

.android-ics .dwwms .dw-li:after { content: ''; position: absolute; top: 50%; left: auto; right: 10px; width: 14px; height: 14px; margin-top: -9px; color: #31b6e7; line-height: 14px; border: 1px solid #424542; text-shadow: 0 0 5px #29799c; }

.android-ics .dwwms .dw-msel:after { content: '✔'; }

/* Light version */
.android-ics.light .dww .dw-li { color: #000; }

.android-ics.light .dwwo { background: linear-gradient(#f5f5f5 0%, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f5f5f5 100%); background: -webkit-gradient(linear, left bottom, left top, from(#fcfcfc), color-stop(0.52, rgba(245, 245, 245, 0)), color-stop(0.48, rgba(245, 245, 245, 0)), to(#fcfcfc)); background: -moz-linear-gradient(#f5f5f5 0%, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f5f5f5 100%); background: -o-linear-gradient(#f5f5f5 0%, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f5f5f5 100%); }

.android-ics.light .dw .dwwb { background: #f5f5f5; color: #f5f5f5; }